[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/codecomplete"]
	path = bundle/codecomplete
	url = https://github.com/mbbill/code_complete.git
[submodule "bundle/coffe-script"]
	path = bundle/coffe-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/delimit-mate"]
	path = bundle/delimit-mate
	url = https://github.com/Raimondi/delimitMate.git
